/* suggestion styles */
 .suggestions .card {
  min-width: 200px;
  min-height: 200px;
}

/* card styles */
.card-deck {
  /* overwrite default bootstrap values for spacing on suggestions */
  margin-right: 0;
  margin-left: 0;
}

/* forecast styles */
#forecast-table,
small {
  display: none;
}

#forecast-table .card {
  min-width: 160px;
}

/* results styles */
li.error {
  color: red;
}